body {
    margin: 0;
    font-family: 'Play', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*Dark Mode*/
body.dark{
    background-color: #1E1E1E;
}
body.dark .header{
    background-color: #0d0d0d;
}
body.dark .sidebar {
    background-color: #1E1E1E;
    color: #f0f0f0;
}
body.dark .menu-item.active{
    background-color: #454545;
}
body.dark .menu-item:hover{
    background-color: #3D3D3D;
}
body.dark .drop-menu {
    background-color: #1E1E1E;
    color: #CFCFCF;
}
body.dark .drop-menu .menu-list:hover {
    background-color: #3D3D3D;
}
body.dark .content{
    background-color: #1E1E1E;
    color: #CFCFCF;
    border: solid 20px #373737;
}
body.dark .content-container{
    background-color: #373737;
}
body.dark .form-container{
    background-color: #000000;
    color: white;
}
body.dark .form-group input{
    background-color: #373737;
}
body.dark .form-group textarea{
    background-color: #373737;
}
body.dark .form-container h2{
    color: #f0f0f0;
}
body.dark .form-container label{
    color: #ccc;
}
body.dark input{
    background-color: #373737;
    color: #ccc;
}
body.dark textarea{
    background-color: #373737;
    color: #ccc;
}
body.dark ul{
    /*background-color: #373737;*/
    color: #ccc;
}
body.dark .btn-approve:hover{
    background-color: #CFCFCF;
}
body.dark .btn-reject:hover{
    background-color: #CFCFCF;
}
/**/

.form-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    min-height: 50px;
    overflow: hidden;
    resize: none;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}
.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Play',sans-serif;
    min-width: 100px;
    text-align: center;
}

.submit-btn:hover {
    background-color: #45a049;
}
.success-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50; /* Màu nền xanh */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Ban đầu ẩn */
    z-index: 1000;
    font-size: 28px;
    width: 300px;
    height: 150px;
    text-align: center;
}

/* Định dạng liên kết 'Quay lại' */
.back-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #0056b3;
}
#errorMessage p{
    color: red;
    font-weight: bold;
}
#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Để hiệu ứng pháo hoa không chặn các thao tác với các phần tử khác */
    z-index: 1001;
}

.choice-file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.custom-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-upload label {
    cursor: pointer;
}
.custom-upload label {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
.list-file {
    margin-top: 10px;
}

.list-file ul {
    list-style: none;
    padding: 0;
}

.list-file li {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-actions{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*Nút duyệt và không duyệt*/
.btn-approve,
.btn-reject{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Play',sans-serif;
    min-width: 100px;
    text-align: center;
}
.btn-approve:hover{
    background-color: #C4DFDF;
}
.btn-reject:hover{
    background-color: #C4DFDF;
}